<p>
This is the boring front end. It shows little and only exists to put the
controllers into context. You should read the project README document and
controller code to see what is going on.
</p>

<ul>
  <li>
    <a href="#/inheritByInjector">
      Page controller inherits from a base controller via $injector
    </a>
  </li>
  <li>
    <a href="#/mixinByInjector">
      Mixin: page controller inherits from multiple controllers via $injector
    </a>
  </li>
  <li>
    <a href="#/inheritPrototypically">
      Page controller inherits from a base controller prototypically
    </a>
  </li>
  <li>
    <a href="#/mixinWithPrototypicalInheritance">
      Mixin: page controller inherits prototypically with an added mixin inheritance.
    </a>
  </li>
</ul>
